<main class="d-flex flex-column align-items-center w-100 flex-grow-1">
  <h1 class="bg-success-subtle p-2 text-center text-success w-100">VERIFY YOUR EMAIL</h1>
  <form class="m-3 d-flex flex-column justify-content-evenly flex-wrap align-items-center" style="width: 380px;">
    <input class="m-2 p-2 text-center w-100" type="email" name="email" id="email" placeholder="ENTER YOUR EMAIL!" />
    <input class="m-2 p-2 text-center w-100" type="text" name="verifyCode" id="verifyCode" placeholder="ENTER YOUR VERIFY CODE!" />
    <input class="m-2 p-2 text-center btn btn-success w-100" type="button" id="verify" value="VERIFY!" />
  </form>
</main>
<script src="/scripts/verify.js"></script>